/* stylelint-disable order/properties-order */
.charactersheet.charactersheet {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  label,
  input,
  textarea,
  select,
  button,
  .panel {
    all: unset;

    box-sizing: border-box;
  }

  .nav-tabs {
    display: flex;
    margin: 10px 0;
  }
}

.ui-dialog.ui-dialog {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  padding: 0;
  scrollbar-color: #90A4AE #CFD8DC;
}

.charactersheet.charactersheet :is(h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, blockquote, figure) {
  all: unset;

  display: revert;
  box-sizing: border-box;
}

/* stylelint-enable order/properties-order */